<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title>CSAR-Composer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script th:src="@{/js/script.js}"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>

    <div class="row">

        <div class="col-md-4 col-md-offset-1">
            <h1>Source Repo</h1>
            <h3>compatible</h3>
            <div class="list-group">
                <div th:each="sourceCsar : ${activeSourceCsars}">
                    <a href="" th:onclick="'addToInternal(\'' + ${sourceCsar.id} + '\');'" class="list-group-item">
                        <h4 class="list-group-item-heading" th:text="${sourceCsar.getServiceTemplateId().getQName().getLocalPart()}"></h4>
                        <div th:each="capability : ${sourceCsar.getCapabilities()}">
                            <p class="list-group-item-text">
                                <span><b>Capability: </b></span>
                                <span class="list-group-item-text" th:text="${capability.getLocalPart()}"></span>
                            </p>
                        </div>
                        <div th:each="req : ${sourceCsar.getRequirements()}">
                            <p class="list-group-item-text">
                                <span><b>Requirement: </b></span>
                                <span th:text="${req.getRequirementType().getLocalPart()}"></span>
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <h3>incompatible</h3>
            <div class="list-group">
                <div th:each="sourceCsar : ${inactiveSourceCsars}">
                    <a href="" class="list-group-item disabled">
                        <h4 class="list-group-item-heading" th:text="${sourceCsar.getServiceTemplateId().getQName().getLocalPart()}"></h4>
                        <div th:each="capability : ${sourceCsar.getCapabilities()}">
                            <p class="list-group-item-text">
                                <span><b>Capability: </b></span>
                                <span class="list-group-item-text" th:text="${capability.getLocalPart()}"></span>
                            </p>
                        </div>
                        <div th:each="req : ${sourceCsar.getRequirements()}">
                            <p class="list-group-item-text">
                                <span><b>Requirement: </b></span>
                                <span th:text="${req.getRequirementType().getLocalPart()}"></span>
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-1"></div>

        <div class="col-md-4">
            <h1>Internal Repo</h1>
            <div class="list-group">
                <div th:each="internalCsar : ${internalCsars}">
                    <a href="" th:onclick="'removeFromInternal(\'' + ${internalCsar.id} + '\');'" class="list-group-item">
                        <h4 class="list-group-item-heading" th:text="${internalCsar.getServiceTemplateId().getQName().getLocalPart()}"></h4>
                        <div th:each="capability : ${internalCsar.getCapabilities()}">
                            <p class="list-group-item-text">
                                <span><b>Capability: </b></span>
                                <span class="list-group-item-text" th:text="${capability.getLocalPart()}"></span>
                            </p>
                        </div>
                        <div th:each="req : ${internalCsar.getRequirements()}">
                            <p class="list-group-item-text">
                                <span><b>Requirement: </b></span>
                                <span th:text="${req.getRequirementType().getLocalPart()}"></span>
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <a href="/start-provisioning" class="btn btn-primary btn-block">Run</a>
        </div>

    </div>
</body>
</html>