<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
    <div>
        <h1>Source Repo</h1>
        <div th:each="sourceCsar : ${sourceCsars}">
            <form action="#" th:action="@{/internalCsars}" method="post">
                <input type="text" name="csarId" th:value="${sourceCsar}">
                <button type="submit">Add</button>
            </form>
        </div>
    </div>
    <div>
        <h1>Internal Repo</h1>
        <div th:each="internalCsar : ${internalCsars}">
            <p th:text="${internalCsar}"/>
            <input type="button" value="Remove"/>
        </div>
    </div>
</body>
</html>