<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script th:src="@{/js/script.js}"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>
    <div>
        <h1>Source Repo</h1>
        <div class="list-group">
            <div th:each="sourceCsar : ${sourceCsars}">
                <a href="#" th:onclick="'addToInternal(\'' + ${sourceCsar.id} + '\');'" class="list-group-item">
                    <h4 class="list-group-item-heading" th:text="'CSAR ' + ${sourceCsar.id}"></h4>
                    <p class="list-group-item-text" th:text="${sourceCsar.serviceTemplateId}"></p>
                </a>
            </div>
        </div>
    </div>

    <div>
        <h1>Internal Repo</h1>
        <div class="list-group">
            <div th:each="internalCsar : ${internalCsars}">
                <a href="#" th:onclick="'removeFromInternal(\'' + ${internalCsar.id} + '\');'" class="list-group-item">
                    <h4 class="list-group-item-heading" th:text="'CSAR ' + ${internalCsar.id}"></h4>
                    <p class="list-group-item-text" th:text="${internalCsar.serviceTemplateId}"></p>
                </a>
            </div>
        </div>
    </div>

    <button class="btn btn-primary">Run</button>
    <button class="btn btn-dark">Generate Big CSAR</button>


</body>
</html>